.list-item {
  background-color: #a29e9e;
  color: rgb(50, 47, 47);
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.block {
  display: inline-flex;
  margin-right: 20px;
}

