@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');

body {
  max-width: 1200px;
  margin: 5px auto;
  background-color: #1A202C;
  color:#fff;
  font-family: 'Roboto', sans-serif;
}

.center { 
  text-align: center; 
}