@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Roboto&display=swap');

:root {
  --color-dark: #264784;
  --color-light: #ccc;
}

.dark-theme {
  background-color: var(--color-dark);
  color: var(--color-light);
}

.light-theme {
  background-color: var(--color-light);
  color: var(--color-dark);
}

body {
  max-width: 1200px;
  margin: 5px auto;
  font-family: 'Roboto', sans-serif;
}

a {
  color: var(--color-light);
}

.list-item {
  padding: 10px;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.dark-theme .list-item {
  background-color: #18356b;
}

.light-theme .list-item {
  background-color: #f3ebeb;
}

.dark-theme a {
  color: var(--color-light);
}

.light-theme a {
  color: var(--color-dark);
}

.center { 
  text-align: center; 
}